img{
    height: auto;
    width: 350px;
    border-radius: 5%;
    margin: 10px;
}
/*
th{
    text-align: center;
}
tr, td{
    font-size: 1.5rem;
    border: 1px solid black;
}


/*
div
{
    align-content: center;
}*/